body {
    padding-top: 0.2rem;
}

.navigation {
display: flex;
}

.hotel-logo {
    margin-right: 24.5rem ;
    position: relative;
    bottom: 12px;
    left: 1.5rem;
   }


.hotel-text{
    font-family: Fredoka One;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 80px;
    margin-left: 65px;
    position: absolute;
    top: 5.5rem;
    left: 2rem;
   }

.nav-item,ul{
       
        list-style-type: none;
        text-decoration-color: white;
        overflow: hidden;
        margin-right: 15px;
        font-size: 2rem;
        padding: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        color: #000000; 
            
       }
      
       .li{
           float: right;
       }
       .home{
        
        font-weight: bold;
       }

       li a{
        display: block;
        margin: 20px;
        text-decoration: none;
        font-family: roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
       }
       
       .active {
        background: rgba(54, 159, 255, 0.5);
        border: 3px solid #369FFF;
        box-shadow: 0px 4px 5px rgba(54, 159, 255, 0.5);
        border-radius: 20px;
        width: 133px;
        height: 40px;
        left: 1218px;
        top: 46px;
        text-align: center;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
           
       }

     main {
         margin: 1.7rem 0 6rem 2rem;
         padding: 0 0 0 1rem;
         background-image: url("../assets/images/home/Background-Earth.png");
     }

       .main-Imgs {
           display: flex;
       }

       .main-Imgs :nth-child(1) img {
        width: 763px;
        height: 602px;
       }

       .main-Imgs :last-child img {
        width: 486px;
        height: 326px;
       }

       .left :first-child {
           font-size: 3.5rem;
           margin: 10rem 0 0 1.5rem;
       }

       .left :nth-child(2) {
           font-size: 2rem;
           padding-left: 2rem;
       }

       .hotel-footer{
           background-color: #C4C4C4;
           height: 300px;
       }

       footer h1{
           font-size: 35px;
           font-weight: 700;
           padding-top: 250px;
       }

       

